* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Plain Light';
    color: #fff;
}

html,
body {
    width: 100%;
    height: 100%;
}

body {
    overflow-x: hidden;
}

/* #crsr {
    height: 2vw;
    width: 2vw;
    border-radius: 50%;
    border: 1px solid #ffffffde;
    position: fixed;
    z-index: 999;
    mix-blend-mode: difference;
    transform: translate(-50%, -50%);
    pointer-events: none;
} */

.mousefollower{
    border: 2px solid #fff;
    background-color: rgb(255 255 255);
    scale: 2;
    mix-blend-mode: difference;
}

#loader {
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 999;
    background-color: #000000;
    padding: 25vh 10vw;
}

.line {
    /* background-color: red; */
    height: fit-content;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 3vw;
}

#line1-part1 {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1vw;
}

#line1-part1 h5,
#line1-part1 h6 {
    font-size: 3vw;
    font-weight: 100;
    font-family: "silk serif";
}

#line1-part1 h5 {
    width: 5vw;
    text-align: right;
}

.line h1 {
    font-size: 6.5vw;
    text-transform: uppercase;
    font-weight: 900;
}

.line h2 {
    font-size: 5vw;
    text-transform: uppercase;
    font-weight: 900;
    opacity: 0;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

#main {
    position: relative;
    background-color: #030303;
}

#page1 {
    height: 100vh;
    width: 100%;
    background-color: #0c0909;
}

@keyframes anime {
    0% {
        font-family: "plain light";
        -webkit-text-stroke: 1px #fff;
        color: #fff;
        font-weight: 500;
        opacity: 1;
    }

    48% {
        font-family: "plain light";
        -webkit-text-stroke: 1px #fff;
        color: #fff;
        font-weight: 500;
        opacity: 0;
    }

    50% {
        font-family: "silk serif";
        -webkit-text-stroke: 1px #fff;
        color: transparent;
        font-weight: 500;
        opacity: 1;
    }

    100% {
        font-family: "silk serif";
        -webkit-text-stroke: 1px #fff;
        color: transparent;
        font-weight: 500;
        opacity: 0;
    }
}

#page1 #nav {
    display: flex;
    justify-content: space-between;
    text-align: center;
    padding: 2.3vw 5.5vw;
}

#nav #nav-part2 {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3vw;
}

#nav-part2 h4 {
    font-size: 0.8vw;
    font-weight: 500;
}

.hero {
    width: 72%;
    margin-left: 27%;
    height: fit-content;
    overflow-y: hidden;
    display: flex;
    align-items: center;
    /* position: relative; */

}

#hero1::before {
    content: "01";
    position: absolute;
    font-size: 3vw;
    font-weight: 100;
    font-family: "silk serif";
    left: -15%;
    top: -15%;
}

.hero:nth-child(2) {
    margin-top: 6vw;
}

/* .hero h1 {
    font-size: 7.2vw;
    font-weight: 500;
    text-transform: uppercase;
    line-height: 7.2vw;

}

.hero h2 {
    font-size: 7.2vw;
    font-weight: 500;
    text-transform: uppercase;
    line-height: 7.2vw;
    border-bottom: 0.5vw solid #fff;
    padding-bottom: 0.8vw;
    transition: all ease 0.3s;

}  */

.hero h1 {
    font-size: 7.2vw;
    font-weight: 500;
    text-transform: uppercase;
    line-height: 7.2vw;
    position: relative;
}

.hero h2 {
    font-size: 7.2vw;
    font-weight: 500;
    text-transform: uppercase;
    line-height: 7.2vw;
    border-bottom: 0.5vw solid #fff;
    padding-bottom: 0.8vw;
    white-space: nowrap;
}

#hero3 h2:hover {
    -webkit-text-stroke: 2px #fff;
    color: transparent;
    font-weight: 500;
    border-bottom: 0.5vw solid #ffffff00;
}

#page2 {
    width: 100%;
    height: 100%;
    background-color: #0c0909;
    padding: 4vh;
    position: relative;
    margin-top: 11vw;
}

#video-container {
    height: 66vh;
    width: 71vw;
    position: relative;
    left: 24%;
    background-color: red;
     background-image: url("Assets/images/thumbnail.jpg");
    background-size: cover;
    background-position: center;
}

#video-container img {
    position: absolute;
    height: 100%;
    width: 100%;
    object-fit: cover;
    top: 0;
}

#video-container video {
    height: 100%;
    width: 100%;
    object-fit: cover;
    opacity: 0;

}

#video-cursor {
    height: 9vw;
    width: 9vw;
    border-radius: 50%;
    background-color: #FFA63D;
    position: absolute;
    top: -15%;
    left: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 999;
}

#video-cursor i {
    font-size: 2vw;
}

#page3 {
    min-height: 100vh;
    width: 100%;
    background-color: #0c0909; 
    position: relative;
    padding: 17vh 2vw;
    margin-bottom: 25vw;
    margin-top: 20vw;
}

#page3 h1 {
    font-size: 7vw;
    text-transform: uppercase;
    position: relative;
    margin-left: 28vw;
}

#page3 h1::before {
    content: "02";
    position: absolute;
    font-size: 3vw;
    font-weight: 100;
    font-family: silk serif;
    left: -12%;
    top: 8%;
}

#page3 .underline {
    margin-left: 28vw;
}

#image_div_contener {
    /* background-color: #FFA63D; */
    padding: 1vw;
    position: relative;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-wrap: wrap;
    
}

.image-div {
    height: 38vw;
    position: relative;
    overflow: hidden;
    width: 27vw;
    flex-shrink: 0;
    margin: 2vw;
    /* background-color: #3F7DF4; */
}
.image-div:nth-child(1){
    height: 29vw;
    width: 21vw;
}
.image-div img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
}
.page3-circle1 {
    height: 23vw;
    width: 23vw;
    border: 2px solid #fff;
    border-radius: 50%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top:25vh;
    margin-left: 12vw;
}

.page3-circle1 svg {
    height: 35%;
}

.page3-circle2 {
    height: 23vw;
    width: 23vw;
    border: 2px solid #fff;
    border-radius: 50%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin-top:25vh; */
    /* margin-left: 12vw; */
}

.page3-circle2 svg {
    height: 35%;
    rotate: -45deg;
}


.circle-in{
    height : 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    scale: 0;
    transition: all ease 0.5s;
    border-radius: 50%;

}

.circle-in p{
    font-size: 0.95vw;
      color: #000;
      font-weight:500;
      width: 60%;
      scale: 0;
      transition: all ease 0.5s;
      transition-delay: 0.5s;
      opacity: 0;
}

.page3-circle1:hover .circle-in{
    scale: 1;
}
.page3-circle1:hover p{
    scale: 1;
    opacity: 1;  
}

.page3-circle2:hover .circle-in{
    scale: 1;
}
.page3-circle2:hover p{
    scale: 1;
    opacity: 1;  
}

#page4 {
    min-height: 100vh;
    width: 100%;
    background-color: #0c0909;
    padding: 7vh 0;
    margin-bottom: 18vw;
}

#page4-content {
    width: 72vw;
    position: relative;
    margin-left: 28%;
}

#page4-content h1 {
    font-size: 7vw;
    text-transform: uppercase;
    position: relative;
}

#page4-content h1::before {
    content: "03";
    position: absolute;
    font-size: 3vw;
    font-weight: 100;
    font-family: silk serif;
    left: -12%;
    top: 8%;
}

#page4-content .underline {
    height: 1px;
    width: 100%;
    background-color: #fff;
    margin: 5vw 0;
}

#page4-content>p {
    font-size: 2.05vw;
    width: 50%;
    margin-bottom: 3vw;
}

#page4-flex {
    display: flex;
}

#page4-flex img {
    width: 48%;
}

#page4-flex p {
    font-size: 0.9vw;
    width: 19%;
    margin-left: 1vw;
}

#page4-blue-div {
    background-color: #3F7DF4;
    width: 33vw;
    padding: 3vw;
    position: relative;
    margin-top: -40vh;
    margin-left: 23vw;

}

.blue-div-elem {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 1.5vw 0;
    border-bottom: 2px solid #ffffff94;
}

.blue-div-elem h4 {
    font-size: 1.4vw;
    font-weight: 500;
}

.blue-div-elem p {
    width: 50%;
}

#page5 {
    min-height: 100vh;
    width: 100%;
    position: relative;
    background-color:  #0c0909;
}

.elem {
    /* background-color: #FFA63D; */
    white-space: nowrap;
    overflow-x: hidden;
    margin-bottom: -2vw;
}

.elem h1 {
    font-size: 7vw;
    -webkit-text-stroke: 1px #fff;
    text-transform: uppercase;
    font-weight: 400;
    color: transparent;
    display: inline-block;
    margin-right: 16px;
    animation-name: anime1;
    animation-duration: 12s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@keyframes anime1 {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(calc(-100% - 20px));
    }
}

.elem1 {
    /* background-color: #FFA63D; */
    white-space: nowrap;
    overflow-x: hidden;
    margin-bottom: -2vw;
}

.elem1 h1 {
    font-size: 7vw;
    -webkit-text-stroke: 1px #fff;
    text-transform: uppercase;
    font-weight: 400;
    color: transparent;
    display: inline-block;
    transform: translateX(calc(-100% - 20px));
    animation-name: anime1;
    animation-duration: 12s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: reverse;
}

.elem span {
    font-style: italic;
    font-family: "silk serif";
    color: transparent;
}

.elem1 span {
    font-style: italic;
    font-family: "silk serif";
    color: transparent;
}

#footer {
    height: 100%;
    width: 100%;
    position: relative;
    background-color: #0c0909;
    padding-left: 28vw;
    padding-right: 2vw;
    margin-top: 5vw;
}

#footer h1 {
    font-size: 7vw;
    text-transform: uppercase;
    position: relative;
}

#footer h1::before {
    content: "04";
    position: absolute;
    font-size: 3vw;
    font-weight: 100;
    font-family: silk serif;
    left: -12%;
    top: 8%;
}

#footer h1 svg{
    height: 35%;
    width: 7%;
    margin-left: 3vw;
    rotate: -90deg;
}

.underline {
    height: 1px;
    width: 100%;
    background-color: #fff;
    margin: 3vw 0;
}

#footer-div {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding-right: 15vw;
    padding-top: 4vw;
    margin-bottom: 6vw;
}

#footer-div h6 {
    font-size: 0.9vw;
    margin-bottom: 1.5vw;
}

.box {
    width: 20%;
}

#footer-div h5 {
    font-size: 1.4vw;
    font-weight: 500;
    /* margin: 0.1vw 0; */
}

#footer>h5 {
    font-size: 1vw;
    font-weight: 500;
    padding-bottom: 1.5vw;
}

._canvas_container {
    z-index: 999999 !important;
    pointer-events: none;
}



#flag{
    height: 25vw;
    position: absolute;
    opacity: 0;
    top:0;
    left: 0;
    transform: translate(-50%,-50%);
}

#hero3{
z-index:999;
position: relative;
}
.hero{
    z-index: 999;
    position: relative;
}